@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .cursor-newtab {
    cursor: url("/img/assets/new-tab.png") 10 10, pointer;
  }

  /* inter var - latin */
  /* @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url("/fonts/inter-var-latin.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  } */

  html {
    scroll-behavior: smooth;
    /* scroll-padding-top: 80px; */
    /* Hide scrollbar for all browsers */
    .scroll-container {
      overflow-x: scroll;
    }

    .scroll-container::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }

    .scroll-container {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

  ::selection {
    background: rgba(var(--tw-clr-primary-300) / 0.3);
  }

  /* #region  /**=========== Default Typography =========== */
  h1,
  .h1 {
    @apply text-2xl font-bold font-primary md:text-4xl;
  }

  h2,
  .h2 {
    @apply text-xl font-bold font-primary md:text-3xl;
  }

  h3,
  .h3 {
    @apply text-lg font-bold font-primary md:text-2xl;
  }

  h4,
  .h4 {
    @apply text-base font-bold font-primary md:text-lg;
  }

  body,
  .body {
    @apply text-sm font-primary md:text-base;
  }

  /* #endregion  /**======== Default Typography =========== */

  .bg-dark a.custom-link {
    @apply border-gray-200 hover:border-gray-200/0;
  }

  :root {
    /* Customize these variable */
    /* https://github.com/adamwathan/tailwind-css-variable-text-opacity-demo */
    --tw-clr-primary-200: 219 255 0;
    --tw-clr-primary-300: 98 95 241;
    --tw-clr-primary-400: 132 64 236;
    /* blue #06b6d4 */
    --tw-clr-primary-500: 6 182 212;

    --clr-primary-200: rgb(var(--tw-clr-primary-200));
    --clr-primary-300: rgb(var(--tw-clr-primary-300));
    --clr-primary-400: rgb(var(--tw-clr-primary-400));
    --clr-primary-500: rgb(var(--tw-clr-primary-500));
    --background: 0 0% 100%;
    --foreground: 210, 40%, 98%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 0 100% 45%;

    --submit: 199, 89%, 48%;
    --submit-foreground: 199, 89%, 45%;

    --success: 142, 71%, 45%;
    --success-foreground: 142, 71%, 43%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}
@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

.dot-container {
  display: inline-flex;
  align-items: center;
  gap: 0.2rem;
}

.dot {
  width: 0.5rem;
  height: 0.5rem;
  background-color: white;
  border-radius: 50%;
  animation: bounce 1.4s infinite ease-in-out both;
}

.dot:nth-child(1) {
  animation-delay: -0.32s;
}
.dot:nth-child(2) {
  animation-delay: -0.16s;
}
.dot:nth-child(3) {
  animation-delay: 0s;
}

@layer utilities {
  .font-primary {
    font-family: "Inter", sans-serif;
  }

  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(to right, var(--clr-primary-300), var(--clr-primary-400));
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: 0.3s ease;
    transition-property: background-size, color, background-color, border-color;
  }

  @media (prefers-reduced-motion: reduce) {
    .animated-underline {
      transition: none;
    }
  }

  /* efek blur */
  .glass-effect {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  .animated-underline:hover,
  .animated-underline:focus-visible,
  .project-card:hover .animated-underline,
  .project-card:focus-visible .animated-underline {
    background-size: 0 2px, 100% 2px;
  }

  /* #region  /**=========== Animate Shadow =========== */
  .animate-shadow {
    @apply after:absolute after:inset-0 after:z-[-1] after:opacity-0 after:transition-opacity hover:after:opacity-100;
    @apply after:shadow-md dark:after:shadow-none;
  }

  /* #endregion  /**======== Animate Shadow =========== */

  /* #region  /**=========== Fade In =========== */
  [data-fade] {
    @apply transition duration-300 ease-out translate-y-10 opacity-0 motion-reduce:translate-y-0 motion-reduce:opacity-100;
  }

  .fade-in-start [data-fade] {
    @apply translate-y-0 opacity-100;
  }

  .fade-in-start [data-fade="1"] {
    transition-delay: 100ms;
  }

  .fade-in-start [data-fade="2"] {
    transition-delay: 200ms;
  }

  .fade-in-start [data-fade="3"] {
    transition-delay: 300ms;
  }

  .fade-in-start [data-fade="4"] {
    transition-delay: 400ms;
  }

  .fade-in-start [data-fade="5"] {
    transition-delay: 500ms;
  }

  .fade-in-start [data-fade="6"] {
    transition-delay: 600ms;
  }

  .fade-in-start [data-fade="7"] {
    transition-delay: 700ms;
  }

  .fade-in-start [data-fade="8"] {
    transition-delay: 800ms;
  }
}
